

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

text {
  font: bold 24px monospace;
}

.up{
    fill:green;
}

.down{
    fill:red;
}

.update{
    fill: grey; 
}
















